@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family:'Montserrat','Noto Sans KR','sans-serif';
    --color-main:#2CA371;
    --color-sub:#333333;
    --color-white:#f5f5f5;
    --color-black:#333333;
    --color-gray:#dddddd;
    --color-lgray:#999999;
    --font-black:900;
    --font-extra-bold:800;
    --font-bold:700;
    --font-semi-bold:600;
    --font-medium:500;
    --font-regular:400;
    --font-light:300;
    --font-thin:100;
}
*{margin:0;padding:0;border:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;line-height:none;text-decoration:none;}
html{font-size:62.5%;}
body{line-height:1.7;}
.container{max-width:1200px;margin:0 auto;}
h1,h2,h3,h4,h5,h6,p{line-height:1.2;letter-spacing:-0.075em;}
h1{font-size:4.8rem;}
h2{font-size:3.6rem;}
h3{font-size:2.4rem;}
h4{font-size:1.8rem;}
h5{font-size:1.6rem;}
h6{font-size:1.4rem;}
p{font-size:1.2rem;}
li{list-style:none;}
a{color:var(--color-black);}
img{width:100%;display:block;object-fit:cover;}


/* 헤더 */
.header{background:var(--color-white); height:70px;}
.header_container{height:100%;}
.header_box{height:100%;display:flex;justify-content:space-between;align-items:center;}
/* 네비게이션 */
.nav ul{display:flex;}
.nav ul li{padding-right:15px;}
.nav ul li:last-child{border:1px solid #2CA371;padding:0 15px;border-radius:5px;}
.nav ul li:last-child a{color: #299769;}
.nav ul li a{font-size:1.4rem;font-weight:var(--font-medium)}
.nav_btn{display:none;}
.nav_bar_line{width:20px;height:4px;background-color:#333333;position:relative;cursor:pointer;}
.nav_bar_line::before{content:'';display:block;width:20px;height:4px;background-color:#333333;position:absolute;top:-200%;}
.nav_bar_line::after{content:'';display:block;width:20px;height:4px;background-color:#333333;position:absolute;top:200%;}

/* 메인 */
.main{background-image:url(/images/background.png);background-size:cover;background-repeat:no-repeat;}
.main_container{display:grid;grid-template-columns:6fr 6fr;grid-gap:3rem;}
/* 헤더라인 */
.head_line{grid-row:1/2;grid-column:1/3;margin-top:80px;font-weight:var(--font-semi-bold);color:var(--color-black);}
/* 인포 영역 */
.coin_info_area{background-color:var(--color-white);grid-row:2/3;grid-column:1/2;}
.coin_info_box{padding:20px 30px;}
.coin_info_text h2{font-weight:var(--font-semi-bold);color:var(--color-black);}
.coin_info_text p{font-size:1.6rem;font-weight:var(--font-semi-bold);color:var(--color-black);}
.coin_info_price{display:flex;align-items:end;}
.coin_info_price .price_num{margin-left:auto;}
.coin_info_price .price_num h1{font-weight:var(--font-semi-bold);color:var(--color-main);}
.coin_info_price img{width:20px;}
/* 사용내역 영역 */
.coin_history_area{background-color:var(--color-white);grid-row:2/4;grid-column:2/3;}

/* 락업 및 로드맵 영역 */
.coin_lockup_area{background-color:var(--color-white);grid-row:3/4;grid-column:1/2;}

/* 미디어 커리 */
@media screen and (max-width:768px){
    /* 반응형 */
    .coin_info_area{grid-row:2/3;grid-column:1/3;}
    .coin_history_area{grid-row:3/4;grid-column:1/3;}
    .coin_lockup_area{grid-row:4/5;grid-column:1/3;}

    .container{padding:0 20px;}
    .header{height:50px;}
    .logo img{width:50%;}
    /* nav */
    .nav{display:none;}
    .nav_btn{display:block;}
    /* head_line */
    .head_line{display:none;}
}



