@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family:'Montserrat','Noto Sans KR','sans-serif';
    --color-main:#2CA371;
    --color-sub:#333333;
    --color-white:#f5f5f5;
    --color-black:#333333;
    --color-gray:#dddddd;
    --color-lgray:#999999;
    --font-black:900;
    --font-extra-bold:800;
    --font-bold:700;
    --font-semi-bold:600;
    --font-medium:500;
    --font-regular:400;
    --font-light:300;
    --font-thin:100;
}

*{margin:0;padding:0;border:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;line-height:none;text-decoration:none;}
html{font-size:62.5%;}
body{line-height:1.7;}
.container{max-width:1200px;margin:0 auto;padding:0 20px;}
h1,h2,h3,h4,h5,h6,p{line-height:1.2;letter-spacing:-0.075em;}
h1{font-size:4.8rem;}
h2{font-size:3.6rem;}
h3{font-size:2.4rem;}
h4{font-size:1.8rem;}
h5{font-size:1.6rem;}
h6{font-size:1.4rem;}
p{font-size:1.2rem;}
span{font-size:1.2rem;}
li{list-style:none;}
a{color:var(--color-black);}
img{width:100%;display:block;object-fit:cover;}


/* header */
.header{background:var(--color-white); height:70px;position:relative;}
.header_container{height:100%;}
.header_box{height:100%;display:flex;justify-content:space-between;align-items:center;overflow:hidden;}

/* nav */
.nav ul{display:flex;}
.nav_list{display:none;}
.nav ul li{padding-right:15px;}
.nav ul li:last-child{border:1px solid #2CA371;padding:0 15px;border-radius:5px;}
.nav ul li:last-child a{color: #299769;}
.nav ul li a{font-size:1.4rem;font-weight:var(--font-medium)}
.nav_bar_line{width:20px;height:4px;background-color:#333333;position:relative;cursor:pointer;}
.nav_bar_line::before{content:'';display:block;width:20px;height:4px;background-color:#333333;position:absolute;top:-200%;}
.nav_bar_line::after{content:'';display:block;width:20px;height:4px;background-color:#333333;position:absolute;top:200%;}
.nav_btn{display:none;}


/* main */
.main{background:url(../images/background.png);background-size:cover;background-repeat:no-repeat;background-attachment:fixed;height:100vh;}
.main_container{display:grid;grid-template-columns:6fr 6fr;grid-gap:3rem;}

/* head_line */
.head_line{grid-row:1/2;grid-column:1/3;margin-top:40px;font-weight:var(--font-semi-bold);color:var(--color-black);}

/* info section */
.coin_info_area{background-color:var(--color-white);grid-row:2/3;grid-column:1/2;max-width:565px;width:50vw;}
.coin_info_text{margin-bottom:50px;display:flex;}
.coin_info_text .title_img img{width:50px;margin-right:10px;}
.coin_info_text .title_text h3{font-weight:var(--font-extra-bold);color:var(--color-black);display:flex;}
.coin_info_text p{font-size:1.6rem;font-weight:var(--font-semi-bold);color:var(--color-black);}
.coin_info_text .title_text{display:flex;flex-flow:column;align-items:flex-start;justify-content:center;}

.coin_info_price{display:flex;align-items:end;margin-bottom:15px;}
.coin_info_price .price_num{margin-left:auto;}
.coin_info_price .price_num h1{font-weight:var(--font-semi-bold);color:var(--color-main);line-height:0rem;}
.coin_info_price img{width:30px;}
.info_btn input{background-color:#2CA371;color:var(--color-white);padding:10px 0;}
.info_button_btn{width: 100%;}

/* swiper */
.swiper-slide{padding:20px;}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {display:none;}
.swiper-button-prev{top:30px;}
.swiper-button-prev img, .swiper-button-next img{width:14px;}

/* use_history section */
.coin_history_area{background-color:var(--color-white);grid-row:2/4;grid-column:2/3;height:700px;overflow:auto;}
.history_box{width:100%;padding:20px;}
.history_title h6{font-weight:var(--font-semi-bold);color:var(--color-black);margin-bottom:20px;}

.depth02{display:flex;align-items:center;justify-content:space-between;background-color:#ececec;padding:5px 10px;border-radius:15px;margin-bottom:5px;}
.depth02:hover{background-color:var(--color-gray);transform:rotateX(360deg);transition:ease-in-out 0.7s;}
.depth02 li img{width:25px;}
.depth02 span{font-weight:var(--font-semi-bold);font-size:1.3rem;font-weight:var(--font-semi-bold);}
.depth02 li input{background-color:var(--color-main);border-radius:5px;color:var(--color-white);padding:2px 5px;}

/* lockup and roadmap section */
.coin_lockup_area{background-color:var(--color-white);grid-row:3/4;grid-column:1/2;position:relative;height:460px;background:url(../images/background.png);background-size:cover;background-repeat:repeat;}
.lockup_kard{padding:10px 20px 0;position:relative;}
.lockup_box{background-color:#e6e6e6;border-radius:15px;padding:20px 0;}
.lockup_title{text-align:center;}
.lockup_title h3{font-weight:var(--font-extra-bold);color:var(--color-black);}
.lockup_image{padding:0 20px;}
.lockup_image img{width:80px;}
.lockup_coin_info{display:flex;align-items:center;}
.lockup_count{display:flex;flex-flow:column;}
.lockup_count span{font-size:1.4rem;font-weight:var(--font-semi-bold);color: var(--color-black);}
.loadmap_box{position:absolute;left:50%;top:100%;transform:translateX(-50%);}
.loadmap_box::after{content:'';display:block;background-image:url(/images/line.png);width:20px;position:absolute;}
.loadmap_box .contents{display:flex;flex-flow:column;gap:1rem;margin-top:20px;}
.loadmap_box .contents li{flex:1;flex-basis:50%;}
.contents::after{content:'';display:block;background:url(../images/line.png);background-size: contain;background-repeat:repeat-y;width:4px;height:100%;position:absolute;left:50%;top:0%}
.contents li:nth-child(2n-1){animation:fadeinleft 5s 1s infinite;background-color:#40b182;border-radius:5px;}
.contents li:nth-child(2n){animation:fadeinright 5s 1s infinite;background-color:#5d756c;border-radius:5px;}
.loadmap_detail{width:130px;height:80px;text-align:center;margin:auto;display:flex;flex-flow:column;justify-content:center;}
.loadmap_detail span:first-of-type{font-weight:var(--font-regular);color:#f5f5f5;}
.loadmap_detail span{color:#dddddd;}


/* modal */
.modal{width:500px;height:300px;}
.modal_contents_area{padding:30px 15px;display:flex;flex-flow:row wrap;}
.modal_coin_left{flex:3;display:flex;flex-flow:column;align-items:center;margin-right:20px;}
.modal_coin_left h4{font-size:1.6rem;font-weight:var(--font-bold);}
.modal_coin_img{margin:10px 0;}
.modal_coin_right{flex:7;display:flex;flex-flow:column;justify-content:space-evenly;}
.modal_number_input_name{display:flex;justify-content:space-between;}
.modal_address_input_name{display:flex;justify-content:space-between;}
#address_data, #number_data{background-color:var(--color-gray);width:100%;padding:7px;border-radius:5px;}
.click_btn{background-color:#40b182;border-radius:5px;color:#f5f5f5;padding:2px 6px;cursor: pointer;}
.modal_send_btn{flex-basis:100%;width:90%;}
.modal_send_btn input{background-color:#333333;color:var(--color-gray);padding:5px 20px;position:absolute;left:50%;top:50%;transform:translate(-50%,300%);border-radius:5px;}







@keyframes fadeinright {
    0% {
        transform:translateX(105%);
    }
    50% {
        transform:translateX(95%);
    }
    100% {
        transform:translateX(105%);
    }
}
@keyframes fadeinleft {
    0% {
        transform:translateX(-105%);
    }
    50% {
        transform:translateX(-95%);
    }
    100% {
        transform:translateX(-105%);
    }
}
@keyframes flip {
    0% {
        -webkit-transform:rotateX(0deg);
        -moz-transform:rotateX(0deg);
       
    }
    70%{
        -webkit-transform:rotateX(0deg);
        -moz-transform:rotateX(0deg);
       
    }
    100%{
        -webkit-transform:rotateX(360deg);
        -moz-transform:rotateX(360deg);
       
    }
}

/*---------------------------------------------------- mediaquery */
@media screen and  (max-width:1100px){
    h2{font-size:3.2rem;}
}
@media screen and (max-width:768px){
    /* responsive */
    .coin_info_area{grid-row:2/3;grid-column:1/3;max-width:none;width:auto;}
    .coin_history_area{grid-row:3/4;grid-column:1/3;}
    .coin_lockup_area{grid-row:4/5;grid-column:1/3;}

    h1{font-size:3.6rem;}
    h2{font-size:2.4rem;}
    h3{font-size:1.8rem;}
    h4{font-size:1.6rem;}
    h5{font-size:1.4rem;}
    h6{font-size:1.2rem;}
    p{font-size:1rem;}
    span{font-size:1rem;}

    .container{padding:0 10px;}
    .header{height:50px;}
    .logo img{width:65%;}
    /* nav */
    .nav{display:none;}
    .nav_btn{display:block;}
    .nav_area{width:100%;}
    .nav_list{position:absolute;width:100%;height:100vh;background-color:var(--color-main);z-index:100;transition:ease-in-out 0.3s;display:block;overflow:hidden;}
    .nav_list .close_btn img{width:30px;position:absolute;left:91%;top:10px;}
    .nav_list .close_btn{position:relative;}
    .nav_list li{text-align:center;padding:20px}
    .nav_list li:first-of-type{margin-top:50px;}
    .nav_list li a{font-size:1.4rem;font-weight:var(--font-semi-bold);color:var(--color-white);}

    /* head_line */
    .head_line{display:none;}

    /* info_area */
   
    .swiper-slide{background:#40b182;border-radius:15px;}
    .coin_info_text .title_text {margin-bottom:0px;}
    .coin_info_text .title_text h3 {color:var(--color-white);font-weight:var(--font-bold);}
    .coin_info_text p{color:var(--color-white);font-weight:var(--font-medium);font-size:1.3rem;}
    .coin_info_price {margin-bottom:10px;}
    .coin_info_price .price_num h1 {color:var(--color-white);line-height:1rem;font-size:3.6rem;}
   

    .info_btn input{background-color:#0E331B;}
    .depth02 li span{font-size:1.1rem;}

    .swiper-slide{padding:10px 15px;}

    /* lockup_area */
    .coin_lockup_area{height:none;}
    .lockup_count span{font-size:1rem;}
    .lockup_image img{width:60px;}
    .loadmap_detail{width:100px;height:60px;}
}
@media screen and (max-width:360px){

}



